/* Foods and Meals Choices Styles */
#daily_nutrition_choices {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    text-align: center;
    border-bottom: 3px solid blue;
    width: 100%
}

#daily_nutrition_choices h3 {
    padding-bottom: 3vh;
    font-weight: bold;
}

#daily_nutrition_buttons {
    display: flex;
    justify-content: space-evenly;
}

#daily_nutrition_buttons button, #log_nutrition_form button, #eaten_today button {
    padding: 2vh;
    border: 3px solid darkblue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    border: 1px solid darkblue;
    background-color: rgb(0, 86, 198);
    transition: 300ms ease;
}

#eaten_today button {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#daily_nutrition_buttons button:hover, #log_nutrition_form button:hover, #eaten_today button:hover, #foodButtons button:hover, #mealButtons button:hover {
    background-color: darkblue;
    cursor: pointer;
}

#daily_nutrition_buttons button:active {
    background-color: rgb(0, 110, 255);
}

/* Food and Meal Forms Styles */

#nutrition_log_forms {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    margin: auto;
    text-align: center;
}

#log_nutrition_form {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 3vh;
    border: 1px solid darkblue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    border: 3px solid darkblue;
    background-color: rgb(0, 110, 255);
    transition: 300ms ease;
    justify-content: center;
    padding-top: 5vh;
    margin: auto;
    text-align: center;
}

#nutrition_log_forms p {
    display: flex;
    flex-direction: column;
    padding: 1.5vh 0;
}


#log_nutrition_name, #remove_nutrition_name{
    display: none;
}

input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 0.5vh 0;
}

#nutrition_log_forms #remove_nutrition_form {
    display: none;
    flex-direction: column;
    padding: 3vh;
    border: 1px solid darkblue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    border: 3px solid darkblue;
    background-color: rgb(0, 110, 255);
    transition: 300ms ease;
}

#nutrition_log_forms .submit, .quit {
    padding: 1vh;
    border: 3px solid darkblue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    border: 1px solid darkblue;
    background-color: rgb(0, 55, 255);
    transition: 300ms ease;
}

#nutrition_log_forms .submit:hover, .quit:hover {
    background-color: darkblue;
}

#nutrition_log_forms .submit:active, .quit:active {
    background-color: rgb(0, 110, 255);
}

/* Daily Nutrition Log */
#daily_nutrition_log {
    display: flex;
    padding: 0 2vh 2vh 2vh;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid blue;
}

#daily_nutrition_log #macros {
    display: flex;
    justify-content: space-evenly;
}

#macros {
    padding: 0 1vh;
}

#cals {
    color: maroon;
}

#carbs {
    color: orange;
}

#protein {
    color: rgb(214, 185, 146);
}

#fat {
    color: rgb(0, 65, 0);
}

#current_date {
    color: rgb(0, 38, 255);
}


@media screen and (min-width: 280px) and (max-width: 767px) {
    #daily_nutrition_buttons {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    #nutrition_log_forms {
        width: 100%;
    }

    #daily_nutrition_log #macros {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (max-width: 446px) {
    #daily_nutrition_log #macros {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

/* Food and Meal Lists */
#food_and_meal_lists {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid blue;
}

#food_list, #meal_list {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 1vh;
    text-align: center;
    width: 100%
}

#food_list p, #meal_list p {
    padding: 1vh;
}

#food_list, #meal_list {
    text-align: center;
}

#foodButtons button, #mealButtons button {
    padding: 2vh 7vh 2vh 7vh;
    border: 3px solid darkblue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    border: 1px solid darkblue;
    background-color: rgb(0, 86, 198);
    transition: 300ms ease; 
}
